lxml
parse
pymongo
pytest
python-magic
pytz
cssselect
translitcodec

# TODO: remove when migration to Python3 is complete
# "mechanize" is installable via pip3, but it does not work
mechanize
requests
